.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    }
    .article {
        width: 100%;
    font-size: 58px;
    font-weight: 800;
    line-height: 79.2px;
        background: linear-gradient(90deg, #C026D3 0%, #701A75 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-top: 55px;
    margin-bottom: 30px;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro__article{
    } 
    .subarticle {
        width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: rgba(71, 85, 105, 1);
    margin-top: 0px;
    margin-bottom: 24px;
    max-width: 900px;
    }
    .nav_menu__button-main {
    padding: 20px;
    }
    .purple {
    
    }
    .intro__input{
        border-radius: 26px;
        border: 1px solid rgba(203, 213, 225, 1);
        margin-right: 16px;
        padding-left: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
    }
    .intro__box{
        display: flex;
        justify-content: space-between;
        width: 48.6%;
        margin-bottom: 40px;
    }
    .intro__img{
        width: 90%;
        height: 465px;
        border-radius: 20px;
        background: url("../img/photo.png") center no-repeat;
        margin-top: 80px;
        background-size: contain;
    }
.better {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
}
.better__box {

}
.better__article{
    margin-top: 65px;
    font-size: 46px;
    margin-bottom: 20px;
} 
.nav_menu__button-main {

}
.better__img {
    background: url("../img/better__frame.png") center no-repeat;
    width: 1280px;
    height: 830px;
    background-size: contain;
    margin-top: 80px;
}
.stories {
display: flex;
flex-direction: column;
align-items: center;
padding: 80px;
}

.stories__article {
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
margin-top: 15px;
}
.stories__subarticle {
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
color: rgba(71, 85, 105, 1);
&.subarticle{
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 80px;
} 

}
.stories__box {
border-radius: 16px;

}
.stories__show{
overflow-x: hidden;
        margin: 0 auto;
        border-radius: 20px;
}
.stories__rewiews{
    max-width: 1280px;
    width: 100%;
}
.swiper-button-next,.swiper-button-prev{
    width: 48px !important;
    height: 48px !important;
    background-color: white; /* Background color */
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.swiper-button-next{
    right: 0px !important;
}
.swiper-button-prev{
    left: 0px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
display: none !important;
}
.swiper-button-next::before{
content: "";
background: url("../img/button__right-gray.svg") center no-repeat;

width: 100%;
height: 100%;
display: inline-block;
}
.swiper-button-prev::before{
content: "";
background: url("../img/button__left-gray.svg") center no-repeat;
width: 24px;
height: 24px;
display: inline-block;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
}
.swiper-slide-active{
    filter: grayscale(0%) brightness(100%);
}
.stories__icon-1{
    background: url("../img/icon-1.png");
}
.stories__icon-2{
    background: url("../img/icon-2.png");
}
.stories__icon-3{
    background: url("../img/icon-3.png");
}
.stories__icon-4{
    background: url("../img/icon-4.png");
}
.stories__scroll {
    min-width: 1136px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.button__left-gray {
    background: url("../img/button__left-gray.svg") center no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 12px;
}
.stories__img-flowers {
background: url("../img/flowers.png") center no-repeat;
}
.stories__img{
width: 266px;
height: 220px;
border-radius: 10px 10px 0 0;
}
.stories__box-group {
display: flex;
margin-top: 30px;
border-radius: 0px 0px 16px 16px;
}
 .stories__container{
    display: flex;
 }
.stories__icon {
width: 48px;
height: 48px;
border-radius: 50%;
background-size: contain;
margin-right: 10px;
}
.stories__img-heart {
background: url("../img/heart.png") center no-repeat;

}
.stories__img-paintings {
    background: url("../img/paints.png") center no-repeat;
    
}
.stories__img-dyes {
    background: url("../img/dyes.png") center no-repeat;

}
.button__right-gray {
    background: url("../img/button__right-gray.svg") center no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.users {
display: flex;
flex-direction: column;
align-items: center;
background-size: cover;
padding: 35px 0 80px;
position: relative;
}
.users__vector-1{
    background: url("../img/user_vector-1.svg") center no-repeat;
    position: absolute;
    width: 525px;
    height: 400px;
    right: -460px;
    top: -170px;
    z-index: -1;
}
.users__vector-2{
    background: url("../img/user_vector-2.svg") center no-repeat;
    position: absolute;
    width: 440px;
    height: 440px;
    left: -426px;
    bottom: -150px;
    z-index: -1;
}
.stories__article-main{
    font-size: 53px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 15px;
}
.users__article-main{
    font-size: 52px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.users__rewiews {
max-width: 900px;
margin-top: 75px;
position: relative;
display: flex;
justify-content: center;
}
.users__show {
width: 84%;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.75);
}
.users__scroll {
width: 400%;
position: relative;
transition: 0.3s ;
}
.stories__scroll {

}
.users__box {
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
.stories__box {

}
.users__text{
font-size: 22px;
text-align: center;
line-height: 160%;
margin-top: 15px;
}
.users__subtitle {
font-size: 35px;
margin-top: 0px;
margin-bottom: 20px;
text-align: center;
}
.stories__subtitle {

}
.stories__text {

}
.users__box-group {
}
.stories__box-group {

}
.users__titles {
display: flex;
flex-direction: column;
align-items: center;
}
.stories__titles {

}
.users__icon {

width: 64px;
height: 64px;

}
.users__icon-1{
background: url("../img/icon-1.png") center no-repeat;    
background-size: contain;
}
.users__icon-2{
background: url("../img/icon-2.png") center no-repeat;
background-size: contain;    
}
.users__icon-3{
background: url("../img/icon-3.png") center no-repeat;
background-size: contain;    
}
.users__icon-4{
background: url("../img/icon-4.png") center no-repeat;
background-size: contain;    
}
.users__subarticle {

}
.stories__subarticle {

}
.detailes {
    padding: 60px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
}
.detailes__article-box {
    display: flex;
    flex-direction: column;
    align-items: center;
max-width: 900px;
margin-bottom: -20px;
}
.detailes__artivle {
margin-top: 0px;
font-size: 46px;
margin-bottom: 0px;
}
.detailes__subartivle {
    font-size: 20px;
font-weight: 400;
line-height: 180%;
text-align: center;
color: #475569;
}
.detailes__item-box {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.detailes__item {
    width: 47%;
}
.detailes__item-img {
width: 64px;
height: 64px;

}
.post {
background: url("../img/post.svg") center no-repeat;
}
.detailes__item-article {
font-size: 24px;
font-weight: bold;
line-height: 110%;
margin: 16px 0
;
}
.detailes__item-text {
color: #475569;
font-size: 18px;
    line-height: 160%;
}
.map {
    background: url("../img/map.svg") center no-repeat;
}
.sheme {
    background: url("../img/sheme.svg") center no-repeat;
}
.lock {
    background: url("../img/lock.svg") center no-repeat;
}
.buttons {
    background: url("../img/buttons.svg") center no-repeat;
}
.M {
    background: url("../img/m.svg") center no-repeat;
}
.pig {
    background: url("../img/pig.svg") center no-repeat;
}
.flag {
    background: url("../img/flag.svg") center no-repeat;
}
.scope {
    background: url("../img/scope.svg") center no-repeat;
}
.question {
    padding: 65px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F5F9;
}

.question__article-box {
    display: flex;
    flex-direction: column;
    align-items: center;
max-width: 900px;
margin-bottom: 35px;
}
.question__artivle {
    margin-top: 0px;
    font-size: 46px;
    margin-bottom: 0px;
}
.article {
}
.question__subartivle {
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    text-align: center;
}
.question__item-box {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 32px 33px;
    background-color: #fff;
    max-width: 1214px;
}
.question__item-text {
    font-size: 20px;
    font-weight: 400;
margin-top: 0px;
margin-bottom: 0px;

}
.question__item-text-main{
    width: 100%;
    max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  margin: 0;
&.active{
    max-height: 200px;
    margin-top: 16px;
}
}
.question__item-arrow {
    background: url("../img/aroow__down__purple.svg") center no-repeat;
    width: 24px;
    height: 24px;
    background-size: contain;
    transition: 0.3s transform ease;
    &.active{
transform: rotate(180deg);
    }
}
@media(max-width:1300px){
.stories__container{
    max-width: 900px;
    overflow-x: scroll;
}
}
@media(max-width:1024px){
    .nav_menu-mob{
display: block;
    }
    .article{
font-size: 32px;
font-weight: 700;
line-height: 35.2px;
    }
    .subarticle{
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
    }
    .nav_menu__button-main {
        &.purple{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.5px;
        }
    }
    .intro__input{
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
    }
    .intro__img{
        width: 90%;
        margin-top: 0px;
        height: 200px;
        background-size: contain;
    }
    .intro{
        margin-bottom: 0px;
    }
    .better__img{
        background: url("../img/better__frame-mob.png") center no-repeat;
        width: 90%;
    }
    .stories__container{
        max-width: 700px;
    }
    .stories__rewiews{
        .button{
            display: none;
        }
    }
    .stories__show{
        width: 80%;
        overflow-x: hidden;
        margin: 0 auto;
        border-radius: 20px;
    } 
    .stories__rewiews{
        justify-content: space-between;
    }
    .users__scroll{

    } 
}
@media(max-width:1000px){
    .button__left-gray{
        display: none;
    }
    .button__right-gray{
        display: none;
    }   
}
@media(max-width:760px){
    .detailes__item-box{
flex-direction: column;
align-items: center;
margin-top: 0;
    }
    .detailes__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        div{
            text-align: center;
        }
        margin-top: 32px;
    }
    .better__subarticle{
        margin-bottom: 0px;
    }
    .question__item-box{
        align-items: center;
        padding: 16px;
        position: relative;
            }
    .question__item-text{
        font-size: 16px;
        margin-right: 40px;
    }
    .question__item-arrow{
        position: absolute;
        right: 16px;
        top: 16px;
    } 
    .intro__article{
        margin-top: 50px;
        margin-bottom: 20px;
    } 
    .subarticle{
        width: 91%;
    }
    .nav_menu__button-head.purple{
        padding: 12px;
        font-size: 16px;
        width: 100%;
    }
    .intro__box{
        width: 92%;
    }
  
    .better__article{
        font-size: 24px;
        margin-top: 0px;

    } 
    .stories__container{
        max-width: 600px;
        overflow-x: scroll;
    }
    .better__box{
        width: 41%;
    }
    .better__img{
        margin-top: -45px;
    }
    .detailes__artivle{
        font-size: 24px;
    } 
    .detailes__subartivle{
        font-size: 16px;
        line-height: 140%;
    }
    .detailes__article-box{
        margin-bottom: 0px;
    }
    .detailes__subartivle{
        margin-bottom: 0px;
    } 
    .detailes{
        padding-bottom: 48px;
    }
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
    .question{
        padding-top: 48px;
    }
    .question__artivle{
        font-size: 24px;
    }
    .question__subartivle{
        margin-top: 0px;
    }
    .stories__subarticle {
        &.subarticle{
font-size: 16px;
        }
    }
    .users__text{
        font-size: 16px;
    }
}
@media(max-width:660px){
.stories__container{
    max-width: 500px;
}
}
@media(max-width:550px){
.stories__container{
    max-width: 400px;
}
.better__box{
    width: 90%;
}
.intro__box{
    flex-wrap: wrap;
}
.intro__input{
    padding: 12px 0px 12px 24px;
    width: 100%;
    margin-bottom: 18px;
}
}
@media(max-width:460px){
    .stories__container{
        max-width: 300px;
        overflow-x: scroll;
    }
.intro__input{
    width: 100%;
}
}